body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, serif 18xp;
    background-color: rgb(246, 247, 249);
}

header,footer {
    background-color: #7386bd60;
}

.site-title {
color:#454c98;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}
.hobbies-list {
    list-style-type: square;
}
.hobbies-list li:nth-child(odd) {
    background-color: #4664aa;
}
nav ul.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav {
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    background-color: #6e80b2; 
    border: 5px solid #faf2f2;    
    color: #ece1e1;          
}


nav  a:hover,
nav  a:focus {
    background-color: #c7612e;   
        color: #ece1e1;   }
