body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, serif 18xp;
    background-color: rgb(171, 204, 209);
}

header,footer {
    background: color #c30c0c;
}
.site-title {
color:blueviolet;
}

#my-image {
    box-shadow: 0 0 2px black;
}
ul {
    list-style-type: square;
}
ul li:nth-child(odd) {
    background-color: #a16e6e;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav a {
    background-color: aquamarine;
    border: 1px solid #ccc;
}