body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, serif 18xp;
    background-color: rgb(217, 224, 234);
}

header,footer {
    background-color: #e2d5d5;
}

.site-title {
color:#3c1c5d;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}
.hobbies-list {
    list-style-type: square;
}
ul li:nth-child(odd) {
    background-color: #ecb6b6;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav a {
    background-color: rgb(220, 158, 100);
    border: 1px solid #e9cc6f;
}