body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif 18xp;
    background-color: rgb(132, 164, 169);
}

header,footer {
    background: color #cf2222;
}
.site-title {
color:blueviolet;
}

#my-image {
    box-shadow: 002px1px black;
}
ul {
    list-style-type: square;
}
ul li:nth-child(odd) {
    background-color: #a16e6e;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav a {
    background-color: aquamarine;
    border: 1px solid #ccc;
}